body {
  background-color: rgb(235, 91, 91);
}

h1 {
  text-align: center;
}

.list {
  list-style-type: none;
}

.item {
  background-color: #fff;
  text-align: center;
}

.sub-list {
  list-style-type: none;
  text-align: center;
  color: rgb(163, 101, 111);
}

.paragraph {
  color: black;
  background-color: #ac3838;
  text-align: center;
}

.text {
  text-align: center;
  color: #fff;
}
